<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>
<div class="jumbotron text-center ">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1> Easy Start - Express + Heroku </h1>
    <p> It's a reasonably simple app - but a good foundation for building your own.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started on Heroku with Node.js</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/PedroThiagoMaisse/EasyStart-Express-Heroku.git"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, refer to this project README, and PLEASE head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started on Heroku with Node.js</a>.
  </div>
  <hr>
</div>
<div class='container'>
  <div class="col-md-12">
  <div class="row">

    <div>
      <h3> Re-Running Locally</h3>
      <ul>
        <li> nodemon index.js ; or</li>
        <li> npm start ; or </li>
        <li> heroku local web</li>
    </div>

    <div>
      <h3> Connecting and pushing to the right git respository </h3>
      <ul>
        <li>git remote set-url origin https://YourlinkHere</li>
        <li>git branch -M main</li>
        <li>git push -u origin main</li>
    </div>

    <div>
      <h3>Deploying to Heroku</h3>
      <ul>
        <li> heroku create (the name of the app)</li>
        <li> git push heroku main</li>
        <li> heroku ps:scale web=1 (this is NEEDED for it to work)</li>
        <li> heroku open</li>
    </div>

    <div>
      <h3>Pushing new code to Heroku</h3>
      <ul>
        <li> git add .</li>
        <li> git commit -m "Your Comment Here"</li>
        <li> git push -m</li>
        <li> git push heroku main</li>
        <li> heroku open </li>
    </div>

    <div>
      <h3>What to do next</h3>
      <ul>
        <li>Just Start the coding!</li>
    </div>

   <div class="alert alert-info text-center" role="alert">
    Please DO work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
  </div>
</div>
</div>


</body>
</html>
